body{
    margin: auto;
    padding: auto;
    background-color: rgb(95, 223, 101);
}
.a{
    position: relative;
    background-image: url(/p/1.jpg);
    width: 100%;
    height: 250px;
    background-size:cover;
    background-position:center;
}
.a1{
    position: relative;
    background-image: url(/p/2.jpg);
    width: 17%;
    height: 100%;
    background-size:cover;
}
.a2{
    position: relative;
    margin-top: -16%;
    margin-left: 70%;
    color: black;
}
.p{
    font-size: 25px;
    color: white;
}
.rep{
    position: relative;
    display: flex;
    width: 73%;
    height: 450px;
    margin-left: 14%;
    margin-top: 15%;
    background-color: white;
}
.pit{
    position: relative;
    background-size:cover;
    width: 50%;
}
.wor{
    position: relative;
    text-align: center;
    margin-top: 8%;
    font-size: 150%;
}
.a8{
    position: relative;
    width: 8%;
    height: 20px;
    margin-top: -3%;
    margin-left: 65%;
}
.a9{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: red;
}
.f{
    position: relative;
    display: flex;
}
.a3{
    position: relative;
    background-color: white;
    width: 30%;
    height: 400px;
    margin-top: 5%;
    margin-left: 13.5%;
}
.p1{
    position: relative;
    width: 100%;
    height: 250px;
    background-size:cover;
}
.w{
    position: relative;
    margin-top: 0%;
    text-align: center;
    font-size: 20px;
}
.l{
    position: relative;
    font-size: 25px;
    margin-left: 39%;
}
.a4{
    position: relative;
    background-color: white;
    width: 30%;
    height: 400px;
    margin-top: 6%;
    margin-left: 13.5%;
}
.a5{
    position: relative;
    object-fit:cover;
    margin: 0 auto;
    width: 96%;
    height: 400px;
}
.slick{
    position: relative;
    margin-top: 5%;
    object-fit:cover;
}
.a6{
    position: relative;
    background-color: white;
    width: 30%;
    height: 400px;
    margin-top: 3%;
    margin-left: 13.5%;
}
.a7{
    position: relative;
    background-color: white;
    width: 30%;
    height: 400px;
    margin-top: 5%;
    margin-left: 13.5%;
}
footer{
    position: relative;
    text-align: center;
    color: white;
    background-color: #71552A;
    width: 100%;
    height: 100px;
    margin-top: 2%;
}
nav{
    position: relative;
    background-color: #B63D32;
    text-align: center;
    margin-top: -1%;
 }
 ul{
     position: relative;
    display: inline-block;
    margin: 0px;
    margin-right: 2%;
}