body{
    margin: auto;
    padding: auto;
    background-color: rgb(87, 198, 226);
}
.a{
    position: relative;
    background-image: url(/p/1.jpg);
    width: 100%;
    height: 250px;
    background-size:cover;
    background-position:center;
}
.a1{
    position: relative;
    background-image: url(/p/2.jpg);
    width: 17%;
    height: 100%;
    background-size:cover;
}
.a2{
    position: relative;
    margin-top: -16%;
    margin-left: 70%;
    color: black;
}
.p{
    font-size: 25px;
    color: white;
}
.f{
    position: relative;
    display: flex;
}
.a3{
    position: relative;
    background-color: white;
    width: 30%;
    height: 400px;
    margin-top: 17%;
    margin-left: 13.5%;
}
.p1{
    position: relative;
    width: 100%;
    height: 250px;
    background-size:cover;
}
.w{
    position: relative;
    margin-top: 0%;
    text-align: center;
    font-size: 20px;
}
.l{
    position: relative;
    font-size: 25px;
    margin-left: 39%;
}
.a4{
    position: relative;
    background-color: white;
    width: 30%;
    height: 400px;
    margin-top: 6%;
    margin-left: 13.5%;
}
.a5{
    position: relative;
    object-fit:cover;
    margin: 0 auto;
    width: 96%;
    height: 350px;
}
.slick{
    position: relative;
    margin-top: 5%;
    object-fit:cover;
}
.a6{
    position: relative;
    background-color: white;
    width: 30%;
    height: 400px;
    margin-top: 3%;
    margin-left: 13.5%;
}